.input:focus {
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    color: #cc0000;
}

.errorInput:focus {
}

.error {
    color: #cc0000;
}
